@page
@model ToDoListWebApp.Pages.ToDo.DetailsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>ToDOList</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDOList.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDOList.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDOList.UserEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDOList.UserEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDOList.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDOList.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDOList.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDOList.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDOList.Done)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDOList.Done)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDOList.DoneDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDOList.DoneDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ToDOList.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
</body>
</html>
