@page
@model ToDoListWebApp.Pages.ToDo.IndexModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css">
    <script  src="../../wwwroot/js/site.js"></script>
    <title>Index</title>
</head>
<body>
<div class="wrapper">
    <button class="createbutton">
        <a id="newtask" asp-page="Create">Create New</a>
    </button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToDOList[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDOList[0].UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDOList[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDOList[0].DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDOList[0].Done)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDOList[0].DoneDate)
            </th>
            <th>Action</th>
            <th>Copy to ClipBoard</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ToDOList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Done)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoneDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
            <td>
                <a id="copyText" href="" > @Html.DisplayFor(modelItem => item.Title)</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
<script>
    document.getElementById("copyText").addEventListener("click", copy_password);

    function copy_password() {
        var copyText = document.getElementById("copyText");
        var textArea = document.createElement("textarea");
        textArea.value = copyText.textContent;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("Copy");
        alert("Copied the text: " + textArea.value);
        textArea.remove();
    }
</script>
    @*window.addEventListener('offline', function (event) {
        $('#newtask').attr("disabled", "disabled");
    });
    window.addEventListener(‘online’, function (event) {
        $('#newtask').removeAttr('disabled');
    });*@

    @*$(window).load(function () {
        $('#create').attr("disabled", "disabled");

        $('#create').click(function () {

            if ($(this).attr('checked') == true) {
                $('#postme').removeAttr('disabled');
            }
            else {
                $('#postme').attr("disabled", "disabled");

            }
        });
    });*@
    @*</script>*@
